
<div class="container">
    <mat-card-title>Profile</mat-card-title>

    <mat-card class="example-card" appearance="outlined">

        <mat-card-header>
          <!-- <img mat-card-image src="../../assets/images/profile.png" alt="Photo of a Shiba Inu">
            -->
            <img mat-card-image src="./assets/images/profile.png" alt="Photo of a Shiba Inu">
        </mat-card-header>
        <mat-card-content>
            <mat-card-content *ngIf="user">
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Role:</strong> {{ user.role }}</p>
                <p><strong>Joined:</strong> {{ user.created | date:'longDate' }}</p>
            </mat-card-content>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
      
</div>

