*{
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100vh;  /* Apply only when user is logged in */
}


.app{
    display: flex;
    min-height: 65%;
    justify-content: space-between;
    flex-direction: column;
}

.container form{
    margin-bottom: 150px;
}