<div class="container">
  <h2>Project Registration</h2>
  <form [formGroup]="projectForm" (ngSubmit)="submitProject()">
    <mat-form-field appearance="outline">
      <mat-label>Enter ProjectName</mat-label>
      <input matInput placeholder="Enter Data" formControlName="project_name" 
        name="project_name" required>
      <small *ngIf="submitted && projectForm.get('projectname')?.errors?.['required']">ProjectName is required.</small>

      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter Detailed Description </mat-label>
      <input matInput placeholder="Enter Data" formControlName="description" 
        name="description" required>
      <small *ngIf="submitted && projectForm.get('description')?.errors?.['required']">Project Description is
        required.</small>

      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select Project Manager</mat-label>
      <div formGroupName="user">
        <mat-select formControlName="userid" required>
          <mat-option *ngFor="let manager of assignedProjectManagers" [value]="manager.id">
            {{ manager.username }}
          </mat-option>
        </mat-select>
      </div>
      
      <small *ngIf="submitted && projectForm.get('user.userid')?.errors?.['required']">Project Manager is required.</small>
    </mat-form-field>
    





    <!-- <mat-form-field appearance="outline">
          <mat-label>Enter StartDate</mat-label>
          <input matInput type="date" placeholder="Enter Data" [(ngModel)]="project.start_date" name="start_date" required>
           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="start_datepicker" formControlName="start_date" 
        name="start_date" required>
      <small *ngIf="submitted && projectForm.get('start_date')?.errors?.['required']">Start Date is required.</small>

      <mat-datepicker-toggle matSuffix [for]="start_datepicker"></mat-datepicker-toggle>
      <mat-datepicker #start_datepicker></mat-datepicker>
    </mat-form-field>


    <!-- <mat-form-field appearance="outline">
          <mat-label>Enter EndDate</mat-label>
          <input matInput type="date" placeholder="Enter Data" [(ngModel)]="project.end_date" name="end_date" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="end_datepicker" formControlName="end_date" 
        name="end_date" required>
      <small *ngIf="submitted && projectForm.get('end_date')?.errors?.['required']">End Date is required.</small>
      <mat-datepicker-toggle matSuffix [for]="end_datepicker"></mat-datepicker-toggle>
      <mat-datepicker #end_datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <!-- <mat-label>Enter Status</mat-label>
          <input matInput placeholder="Enter Data" [(ngModel)]="user.status" name="status" required> -->
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-label>Status</mat-label>
      <mat-select matNativeControl formControlName="status"  name="status" required>
        <mat-option value="ACTIVE">ACTIVE</mat-option>
        <mat-option value="Closed">CLOSED</mat-option>
      </mat-select>
      <small *ngIf="submitted && projectForm.get('status')?.errors?.['required']">Project Status is required.</small>

    </mat-form-field>

    <div class="example-button-container">
      <button type="submit" mat-flat-button extended>
        Add
      </button>
    </div>
  </form>
</div>